body {
    background-color: bisque;
}

hr {

    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 7px;
    width: 40%;

}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}